@{
    ViewBag.Title = "Home Page";
}

<br /><br />
<h4>Upload Transaction File</h4>
<br />

<form method="post" enctype="multipart/form-data" asp-controller="UploadFile" asp-action="Index">
    <div class="form-inline">
        <div class="col-md-10">



            <input type="file" name="file" accept=".csv, .xml" style="width:220px">
            <button type="submit" value="Upload" class="btn btn-primary" style="margin-bottom:12px">Upload</button>
            <span style="color:gray">File size is max 1MB</span>


        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <span style="color:red"> @ViewBag.validatetxt</span>
        </div>
    </div>
</form>

